code {
    font-size: 1rem;
    font-family: 'Inter';
    font-weight: 200;
}

.main {
    width: 100vw;
    display: flex;
        flex-direction: column;
        align-items: center;
        
    background-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* *** END RESETS *** */

/* *** MAIN *** */
main {
    display: flex;
    flex-flow: row nowrap;
}

.vertical_line {
    border-left: solid 1px rgb(182, 182, 182);
}


/* *** ARTICLE *** */

article {
    border-bottom: dashed 1px rgb(114, 191, 255);
    width: fit-content;
}

/* *** END ARTICLE *** */


.section_title {
    padding: 3rem 0 1rem;
    margin: 24px 0 0 0;
}

.palette_title {
    display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
}

.palette {
    width: 5vw;

    @media only screen and (min-width: 1200px) {
        width: 60px;
    }
}

.arrow {
    margin: 0 12px;
    height: 12px;
    width: auto;
}

.subtitle {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 3.7rem;
    letter-spacing: -2px;
    text-align: left;
    color: rgb(255, 255, 255);
    
    background: linear-gradient(48deg, rgb(46, 189, 255) 0%, rgb(25, 136, 255) 35%, rgb(183, 39, 255) 75%, rgb(218, 0, 234) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    transition: all .3s ease-in-out;

    @media only screen and (max-width: 1080px) {
        font-size: 3.3rem;
    }
    @media only screen and (max-width: 756px) {
        font-size: 2.8rem;
    }
    @media only screen and (max-width: 576px) {
        font-size: 2.3rem;
    }
    @media only screen and (max-width: 350px) {
        font-size: 2rem;
    }
}

.proyect_subtitle {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 2.9rem;;
    letter-spacing: -2px;
    text-align: left;
    color: rgb(255, 255, 255);
    
    background: linear-gradient(48deg, rgb(46, 189, 255) 0%, rgb(25, 136, 255) 35%, rgb(183, 39, 255) 75%, rgb(218, 0, 234) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    transition: all .3s ease-in-out;

    @media only screen and (max-width: 756px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 576px) {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

.section_subtitle {
    margin-top: 1rem;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: -2px;
    text-align: left;
    color: rgb(255, 255, 255);
    
    background: linear-gradient(48deg, rgb(0, 132, 255) 0%, rgb(53, 201, 255) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    transition: all .3s ease-in-out;

    @media only screen and (max-width: 756px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 576px) {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

.title_ilustration {
    margin-left: 18px;
    height: 70px;
    width: auto;

    @media only screen and (max-width: 756px) {
        height: 50px;
    }
    @media only screen and (max-width: 320px) {
        height: 40px;
    }
    @media only screen and (max-width: 280px) {
        display: none;
    }
}

/* *** CARDS *** */

.cards {
    width: 300px;
    padding: 2rem;
    display: flex;
        flex-flow: row wrap;
        justify-content: center;
        border: solid 10px green;
}

.card {
    margin: 3rem;
    padding: 3rem;
    width: 85vw;
    font-size: 1.1rem;
    font-family: 'Roboto';
    font-weight: 300;
    color: rgb(23, 23, 23);
    color: rgb(248, 248, 248);
    line-height: 30px;

    display: flex;
        flex-direction: column;
        gap: 25px;

    border: solid 2px rgb(182, 182, 182);
    border-radius: 14px;
    background-color: white;
    background-color: rgb(33, 33, 33);
    box-shadow: 3px 3px 25px -10px rgba(0,0,0,0.28);

    transition: all .2s ease-in-out;

    @media only screen and (min-width: 1024px) {
        max-width: 800px;
    }
    @media only screen and (max-width: 768px) {
        margin: 1rem;
        padding: 2rem;
        font-size: 1rem;
    }
}
/* *** END CARDS *** */




/* *** BALLS *** */
.balls {
    display: flex;
    flex-direction: row;
}
.ball {
   margin: 4px; 
   height: 12px;
   width: 12px;
   border-radius: 50%;
   cursor: pointer;
}
.red {
   background-color: rgb(255, 61, 31);
}
.yellow {
   background-color: rgb(255, 213, 0);
}
.green {
   background-color: rgb(65, 198, 89);
}
/* *** END BALLS *** */



.hilight {
    background: linear-gradient(48deg, rgb(255, 183, 1) 0%, rgb(255, 230, 0) 33%, rgb(238, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.tech_card {
    display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

    background-color: transparent;
    box-shadow: none;
    border: none;
}


.techs {
    padding: 1rem;
    height: 90px;
    width: auto;
}

.proyect {
    display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
}

.proyect_block {
    padding: .6rem;
    
    border: solid 1px rgb(156, 156, 156);
    border-radius: 12px;

    display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        &:hover {
            background-color: rgb(62, 62, 62);
        }
        transition: all .3s;
}

.project_icon {
    width: 30px;
    height: auto;
}

.linkproyecto {
    font-family: "Inter";
    font-size: .9rem;
    color: white;
    text-decoration: none;

    display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: .8rem;

    &:hover {
        color: white;
    }
}
