@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://rsms.me/inter/inter.css');

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://rsms.me/inter/inter.css');
}

@keyframes floating {
    0%   {transform: translate(-3px, -11px);}
    25%  {transform: translate(-2px,  10px);}
    50%  {transform: translate( 3px,  -8px);}
    75%  {transform: translate( 2px,   6px);}
    100% {transform: translate(-3px, -11px);}
}


/* *** RESETS *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

*::selection {
    color: white;
    background-color: rgb(215, 0, 219);
}
